@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
    font-family: "Nunito", "Open Sans", Arial, Helvetica, sans-serif;
    background: rgba(20, 58, 135, 0.8);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    background: #fff;
}

header {
    padding: 20px;
    background: rgba(244, 250, 255);
    color: #fff;
}

header h1 {
    margin-bottom: 0;
}

nav {
    color: #fff;
}

.content {
    background: #ffffff;
    min-height: 100px;
    padding: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

nav ul li {
    
}

nav ul li a {
    display: block;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
}

nav ul li .active, nav ul li a:hover {
    color: rgb(254, 141, 13);
    
}


aside {
    min-height: 100px;
    padding: 20px;
}

.top-10 ol {
    margin: 0;
    padding: 0 20px;
}

footer {
    padding: 20px;
    color: #fff;
    background: rgba(0, 13, 39);
}



@media screen and (min-width: 900px) {
    main {
        grid-template-columns: 1fr 350px;
    }

    header{
        display: grid;
        grid-template-columns: 200px 1fr 1fr 200px; 
        grid-template-areas: "item1 item1 item1 item1"
                             "item2 item3 item3 item4"
                             "item2 item5 item5 item4"
                             "item6 item6 item6 item6";
    }

    header img {
        width: 150px;
        height: 50px;
    }

    nav{
        
    
    }

    nav ul li a {
        display: inline-block;
    }

}