@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
    font-family: "Nunito", "Open Sans", Arial, Helvetica, sans-serif;
    background: rgba(20, 58, 135, 0.8);
}

main {
    background: #fff;
}

header {
    padding: 20px;
    background: rgba(244, 250, 255);
    color: #fff;
}
header img{
    width: 90px;
    height: 40px;
}
header h1 {
    margin-bottom: 0;
}

nav {
    color: #fff;
}

.content {
    background: #ffffff;
    min-height: 100px;
    padding: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
}

aside {
    min-height: 100px;
    padding: 20px;
}

.top-10 ol {
    margin: 0;
    padding: 0 20px;
}

footer {
    padding: 20px;
    color: #fff;
    background: rgba(0, 13, 39);
}



@media screen and (min-width: 900px) {

    header{
        display: grid;
        grid-template-columns: 30% 70%; 
    }

    header img {
        width: 150px;
        height: 50px;
    }
    .item{
        padding: 1px;
        margin-left: 5px;
    }
    .item2{
        padding: 2px;
    }

}