.transformerkleur{
    background-color: rgb(30, 7, 160);
    color: white;
    float: none;
    width: 100%;
    padding: 20px;
    text-align: center;
}
.transformerkleur h1{
    font-size: 50px;
    font-weight: bold;
}
.transformerkleur h3{
    font-size: 19px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.transformerkleur1{
    text-align: center;
    padding: 50px;
}
.transformerkleur1 h1,p{
    font-weight: bold;
}
.transformerkleur2{
    background-color: rgb(30, 7, 160);
    color: white;
    float: none;
    width: 100%;
    padding: 20px;
    text-align: center;
}
.transformerkleur2 h1{
    font-weight: bold;
    text-decoration: overline rgb(254, 78, 2);
    padding-bottom: 10px;
}
.transformerkleur3{
    text-align: center;
    padding: 50px;
}
.transformerkleur3 h1{
    font-weight: bold;
    text-decoration: underline rgb(254, 78, 2) 20px;
    padding-bottom: 20px;
}
.transformerkleur img{
    width: auto;
    height: 400px;
    justify-items: left;
}
@media screen and (min-width: 900px){
    .transformerkleur{
        display: grid;
        padding: 50px 100px;
        grid-template-columns: 1fr 1fr;
    }
    .transformerkleur h1{
        font-size: 50px;
        font-weight: bold;
    }
    .transformerkleur h3{
        font-size: 19px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .transformerkleur img{
        width: auto;
        height: 400px;
        justify-items: left;
    }
    .transformerkleur1{
        text-align: center;
        padding: 50px;
    }
    .transformerkleur1 h1,p{
        font-weight: bold;
    }
    .transformerkleur2 h1{
        font-weight: bold;
        text-decoration: overline rgb(254, 78, 2);
        padding-bottom: 10px;
    }
    .transformerkleur2{
        padding: 100px;
    }
    .transformerkleur3{
        text-align: center;
        padding: 50px;
    }
    .transformerkleur3 h1{
        font-weight: bold;
        text-decoration: underline rgb(254, 78, 2) 20px;
        padding-bottom: 20px;
    }
}
